{$product_id = $product_id|default:{product attr='id'}}
<script type="text/html" class="form-product-details-legacy-product-attributes" data-product="{$product_id}">
    {form name='thelia.cart.add'}
        {loop
            name='legacy_product_attributes.attributes'
            type='attribute'
            product=$product_id
        }
            {form_field form=$form field="legacy_product_attribute_{$ID}"}
                <div class="option-content">
                    {$label = ($CHAPO)?$CHAPO:$TITLE}
                    <select id="option-{$ID}" name="{$name}" data-container="body" data-title="{$label}" {if $required}required {/if}{if $disabled}disabled {/if}class="form-control pse-option legacy-product-attribute">
                        {foreach $choices as $choice}
                            <option value="{$choice->value}">{$choice->label}</option>
                        {/foreach}
                    </select>
                </div>
            {/form_field}
        {/loop}
    {/form}
</script>
