<div class="form-container">
    {form name='legacy_product_attributes_form_legacy_product_attributes_values'}
        <form method="post"
              action="{url path='/admin/module/LegacyProductAttributes/attributes_values'}" {form_enctype form=$form}>
            {$product_id = {product attr='id'}}

            {form_field form=$form field='product_id'}
                <input name="{$name}" value="$product_id" type="hidden">
            {/form_field}

            {loop type='currency' name='product-currency' id=$edit_currency_id}
            {$currency_symbol = $SYMBOL}

            {form_field form=$form field='currency_id'}
                <input name="{$name}" value="{$ID}" type="hidden">
            {/form_field}
            {/loop}

            {form_field form=$form field='success_url'}
                <input name="{$name}" value="{navigate to='current' current_tab='legacy-product-attributes'}" type="hidden">
            {/form_field}

            {form_hidden_fields form=$form}

            {$page_url = {url path='/admin/products/update' product_id=$product_id current_tab='legacy-product-attributes'}}
            {$close_url = {url path='/admin/categories' category_id={category attr='id'}}}

            <div class="row inner-toolbar">
                <div class="col-md-3 inner-actions">
                </div>

                <div class="col-md-3 inner-actions">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="button-group">
                                {loop name="currency_list" type="currency"}
                                    <a class="btn btn-sm {if $ID == $edit_currency_id}btn-primary{else}btn-default{/if}" href="{url noamp=1 path={$page_url|default:$current_url nofilter} edit_currency_id=$ID}" title="{intl l='Edit prices in %curr' curr={$NAME}}">
                                        {$SYMBOL}
                                    </a>
                                {/loop}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 inner-actions text-right">
                    <button type="submit" name="save_mode" value="stay" class="form-submit-button btn btn-sm btn-default btn-success" title="{intl l='Save'}">{intl l='Save'} <span class="glyphicon glyphicon-ok"></span></button>
                    <button type="submit" name="save_mode" value="close" class="form-submit-button btn btn-sm btn-default btn-info" title="{intl l='Save and close'}">{intl l='Save and close'} <span class="glyphicon glyphicon-remove"></span></button>
                    <a href="{$close_url nofilter}" class="page-close-button btn btn-sm btn-default">{intl l='Close'} <span class="glyphicon glyphicon-remove"></span></a>
                </div>
            </div>

            <div class="form-group">
                <label for="use_prices_with_tax">
                    {intl l='Edit prices with taxes' d='legacyproductattributes.bo.default'}
                </label>
                <input id="use_prices_with_tax" type="checkbox" checked>
            </div>

            <div class="row">
                {loop
                name='legacy_product_attributes.attributes'
                type='attribute'
                product=$product_id
                }
                    <div class="col-md-3">
                        <div class="well well-sm">
                            <div class="title title-without-tabs">
                                {$TITLE}
                            </div>

                            <table class="table table-striped table-condensed">
                                <tbody>
                                {loop
                                name='legacy_product_attributes.attributes.availability'
                                type='attribute_availability'
                                attribute=$ID
                                }
                                    <tr>
                                        <td>
                                            <div class="title">
                                                {$TITLE}
                                            </div>
                                            <div class="form-group legacy-attributes-price without-tax">
                                                {form_field
                                                form=$form
                                                field='legacy_product_attribute_value_price_delta'
                                                value_key=$ID
                                                }
                                                    <label for="legacy-attribute-{$ID}-price-delta">
                                                        {$label}
                                                    </label>
                                                    <div class="input-group">
                                                        <input id="legacy-attribute-{$ID}-price-delta"
                                                               name="{$name}"
                                                               value="{$value}"
                                                               type="text"
                                                               class="price_field automatic_price_field form-control"
                                                               data-rel-price="legacy-attribute-{$ID}-price-delta-with-tax"
                                                               data-price-type="price-without-tax">
                                                        <span class="input-group-addon">{$currency_symbol}</span>
                                                    </div>
                                                {/form_field}
                                            </div>
                                            <div class="form-group legacy-attributes-price with-tax">
                                                {form_field
                                                form=$form
                                                field='legacy_product_attribute_value_price_delta_with_tax'
                                                value_key=$ID
                                                }
                                                    <label for="legacy-attribute-{$ID}-price-delta-with-tax">
                                                        {$label}
                                                    </label>
                                                    <div class="input-group">
                                                        <input id="legacy-attribute-{$ID}-price-delta-with-tax"
                                                               name="{$name}"
                                                               value="{$value}"
                                                               type="text"
                                                               class="price_field automatic_price_field form-control"
                                                               data-rel-price="legacy-attribute-{$ID}-price-delta"
                                                               data-price-type="price-with-tax">
                                                        <span class="input-group-addon">{$currency_symbol}</span>
                                                    </div>
                                                {/form_field}
                                            </div>
                                        </td>
                                    </tr>
                                {/loop}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {/loop}
            </div>
        </form>
    {/form}
</div>