<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
        <loop name="legacy_cart_item_attribute_combination"
              class="LegacyProductAttributes\Loop\LegacyCartItemAttributeCombinationLoop"/>
    </loops>

    <forms>
        <form name="legacy_product_attributes_form_legacy_product_attributes_values"
              class="LegacyProductAttributes\Form\LegacyProductAttributesValuesForm"/>
    </forms>

    <hooks>
        <hook id="legacy_product_attributes.hook.back" class="LegacyProductAttributes\Hook\BackHook">
            <tag name="hook.event_listener" type="backoffice" event="product.tab"/>
            <tag name="hook.event_listener" type="backoffice" event="product.edit-js"/>
        </hook>
        <hook id="legacy_product_attributes.hook.front" class="LegacyProductAttributes\Hook\FrontHook">
            <tag name="hook.event_listener" type="frontoffice" event="category.javascript-initialization"/>
            <tag name="hook.event_listener" type="frontoffice" event="product.javascript-initialization"/>
            <tag name="hook.event_listener" type="frontoffice" event="singleproduct.bottom"/>
            <tag name="hook.event_listener" type="frontoffice" event="cart.javascript-initialization"/>
            <tag name="hook.event_listener" type="frontoffice" event="order-invoice.javascript-initialization"/>
        </hook>
    </hooks>

    <services>
        <service id="legacy_product_attributes.action.product"
                 class="LegacyProductAttributes\Action\ProductAction">
            <tag name="kernel.event_subscriber"/>
        </service>

        <service id="legacy_product_attributes.form_extension.cart_add"
                 class="LegacyProductAttributes\Form\CartAddFormExtension">
            <tag name="kernel.event_subscriber"/>
            <argument type="service" id="request_stack" />
            <argument type="service" id="thelia.translator" />
        </service>

        <service id="legacy_product_attributes.listener.cart"
                 parent="thelia.action.cart"
                 class="LegacyProductAttributes\EventListeners\CartAction">
            <tag name="kernel.event_subscriber"/>
        </service>

        <service id="legacy_product_attributes.listener.order"
                 class="LegacyProductAttributes\EventListeners\OrderAction">
            <tag name="kernel.event_subscriber"/>
            <argument type="service" id="request_stack" />
        </service>

        <service id="legacy_product_attributes.product_loop_extent"
                 class="LegacyProductAttributes\EventListeners\ProductLoopExtent">
            <argument type="service" id="event_dispatcher"/>
            <tag name="kernel.event_subscriber"/>
        </service>
    </services>
</config>
